$breakpoints_xxs: 380px;
$breakpoints_xs: 480px;
$breakpoints_sm: 576px;
$breakpoints_md: 768px;
$breakpoints_lg: 992px;
$breakpoints_xl: 1200px;
$breakpoints_xxl: 1600px;

$header-height: 70px;
$footer-height: 70px;
$main_maxwidht: 1400px;

$bg: #1c212b;
$font-color: #fff;
$logo-color: #f8e19a;
$button-color: #373e51;

$header-color: #212631;
$footer-color: #212631;

$error: #fc6e5e;
$success: #2cb978;
